body{
    font-family: "Comic Sans MS";
    color: #ffffff;
    background-color: #ffffff;
    text-align: center;
}
.forgot{
    background-color: #8855ED;
    text-align: center;
    height: 100vh;
    width: 50%;
    margin-left: 25%;
}
.imgLogo{
    background-color: #C9A66B;
    height: 200px;
    weight: 200px
}
.imgSignIn{
    margin-top: 40px;
    margin-left: 50px;
    height: 150px;
    weight: 150px;
    display: none;
}
.signIn{
    display: flex;
}
.signIn h3{
    margin-top: 5%;
    display: flex;
}

button{
    background-color: #370E8A;
    margin-top: 10%;
    border: 0;
    margin-right: 40px;
    width: 20%;
    height: 7%;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    color: #ffffff;
}

h1{
    padding-top: 7%;
}

.fields{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 10%;
}

.form-input{
    width: 100%
}

.hover-scale {
    transition: transform 0.2s ease-in-out;
}

button:hover {
        transform: scale(1.1);
        box-shadow: 0 8px 8px #ccc, 0 -8px 8px #ccc;
}

