*{
    font-family: "Comic Sans MS";
    color: #1e0000;
    background-color: #EBDCB2;
}
header{
    position: relative;
    /*text-align: center;*/
    background-color: #C9A66B;
}

header h1{
    /*text-align: center;*/
    display: table-cell;
    vertical-align: middle;
    background-color: #C9A66B;
    padding-top: 6%;
}
header button{
    border: 0;
    background-color: #EBDCB2;
}
header .signOut{
    margin: 0;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    display: flex;
    margin: 0;
    background-color: #C9A66B;
    height: 100px;
    width: 100px;

}
.logo h1{
    text-align: center;
    height: 100px;

}

.signOut {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

aside{
    text-align: center;
    weight:50px;
    background-color: #C9A66B;
}
aside img{
    height: 50px;
    weight: 50px;
    float: left;
}
main{
    display: flex;
}
footer{
    text-align: center;
    background-color: #C9A66B;
    display: flex;
}
footer img{
    height: 30px;
    weight: 30px;
    text-align: center;
}
ul{
    list-style-type: none;
}
h4{
    margin-right: 1%;
    background-color: #C9A66B;
}
.copyright{
    margin-right: 1%;
    background-color: #C9A66B;
}