*{
    font-family: "Comic Sans MS";
    color: #1e0000;
    background-color: #EBDCB2;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
header {
    background-color: #C9A66B;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    margin: 0 auto; /* Set left and right margins to auto */
    align-items: center;
    background: #C9A66B;
}
.logo img{
    margin-right: 1rem;
    background-color: #C9A66B;
}
.logo h1{
    margin: 0;
    background-color: #C9A66B;
}
header button{
    border-style: solid;
    padding: 0.5rem 1rem;
}
main {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    padding: 5px;
    margin-top: 0.5%;
    margin-bottom: 10%;
    overflow: auto;
}
section {
    margin-left: 2%;
    margin-right: 2%;
    flex-basis: 80%;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    max-height: 95%;
    overflow-y: auto;
}
table {
    background-color: white;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    height: auto;
}

caption {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

th, td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}
aside {
    background: #C9A66B;
    flex-grow: 1;
    text-align: center;
    width: 20%;
}
aside h3{
    text-align: center;
    background-color: #C9A66B;
}
aside img{
    display: inline-block;
    background-color: #C9A66B;
}
aside button{
    background-color: #EBDCB2;
    border-style: solid;
    border-color: #1e0000;
    width: 100%;
    height: 20%;
    margin-top: 2%;
    margin-bottom: 3%;
}
aside button:hover{
    cursor: pointer;
}
footer {
    background: #C9A66B;
    color: #fff;
    width: 100%;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
}
footer p{
    background: #C9A66B;
}
section table{
    caption-side: top;
    border-collapse: separate;
    border-spacing: 3px;
    border: 2px solid #1e0000;
    empty-cells: show;
    table-layout: auto;
}
.green{
    background-color: green;
}