body{
    font-family: "Comic Sans MS";
    color: #ffffff;
    background-color: #ffffff;
    text-align: center;
}
.signup{
    background-color: #8855ED;
    text-align: center;
    height: 100vh;
    width: 50%;
    margin-left: 25%;
}
h1{
padding-top: 7%;
}
.imgLogo{
    background-color: #8855ED;
    height: 200px;
    weight: 200px
}
.imgSignIn{
    margin-top: 40px;
    margin-left: 50px;
    height: 150px;
    weight: 150px;
    display: none;
}
.signIn{
    display: flex;
}
.signIn h3{
    display: flex;
}
button{
    background-color: #370E8A;
    margin-top: 20px;
    border: 0;
    margin-right: 40px;
}
h4{
    margin-top: 20px;
}
.fields{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;

}
.form-input{
    width: 100%
}
button{
    width: 25%;
    height: 7%;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    color: #ffffff;
}
.hover-scale {
    transition: transform 0.2s ease-in-out;
}

button:hover {
        transform: scale(1.1);
        box-shadow: 0 8px 8px #ccc, 0 -8px 8px #ccc;
}

