*{
    font-family: "Comic Sans MS";
    background-color: #ffffff;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
header {
    background-color: #370E8A;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    margin: 0 auto; /* Set left and right margins to auto */
    align-items: center;
    background: #370E8A;
}
.logo img{
    margin-right: 1rem;
    background-color: #370E8A;
}
.logo h1{
    margin: 0;
    background-color: #370E8A;
}
header button{
    border-style: solid;
    padding: 0.5rem 1rem;
    background-color: #8855ED;
    color: #ffffff;
}
main {
    min-height:calc(100vh - 200px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
section {
    margin-left: 5%;
    flex-basis: 80%;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}
table {
    border-collapse: collapse;
    background-color: white;
    width: 100%;
    margin-bottom: 1rem;
}

caption {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

th, td {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}
aside {
    padding-top: 2%;
    background: #8855ED;
    flex-grow: 1;
    text-align: center;
    width: 20%;
}
aside h3{
    text-align: center;
    background-color: #8855ED;
}
aside img{
    display: inline-block;
    background-color: #8855ED;
}
aside button{
   background-color: #8855ED;
   border-style: none;
   color: #ffffff;
    width: 100%;
    height: 15%;
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: medium;
}
aside button:hover{
    cursor: pointer;
    background-color: #370E8A;
}
footer {
    background: #370E8A;
    color: #fff;
    width: 100%;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
}
footer p{
    background: #370E8A;
}
section table{
    caption-side: top;
    border-collapse: separate;
    border-spacing: 3px;
    border: 2px solid #1e0000;
    empty-cells: show;
    table-layout: auto;
}
.UpdateBtn{
    margin-right: 2%;
}

button{
    border-radius: 0.5rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.hover-scale {
    transition: transform 0.2s ease-in-out;
}

button:hover {
        transform: scale(1.0);
        box-shadow: 0 5px 5px #ccc, 0 -5px 5px #ccc;
}